.login-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  overflow-y: scroll;
}

.header{
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.fill-color{
  fill: white;
}

.spotify-logo{
  height: 36px;
  text-align: left;
}

.main{
  flex: 3 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 32px;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.form-container{
  max-width: 734px;
  width: 100%;
  background-color: black;
  color: white;
  row-gap: normal;
  border-radius: 8px;
}
.main-heading{
  text-align: center;
  margin: 80px 0px 48px;
  font-size: 2.6rem;
  font-weight: 750;
}

.heading-container{
  background-color: black;
  color: white;
  row-gap: normal;
  border-radius: 8px;
}

.button-container{
  width: 324px;
  margin: 0px auto;
  row-gap: normal;
  display: flex;
  flex-direction: column;
}
.button{
  margin: 0em;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  background-color: transparent;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding-block: 7px;
  padding-inline: 31px;
  position: relative;
  border: 1px solid var(--essential-subdued,#878787);
  color: var(--text-base,#000000);
  min-block-size: 48px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inline-size: 100%;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  
}

.button:hover{
  border-color: #ffffff;
}
.icon{
  background : url("../../img/google.svg") center center no-repeat;
  height: 1.5rem;
  width: 1.5rem;  
} 


.button-text{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: none;
  letter-spacing: normal;
  margin: auto;
}
.line{
  margin: 32px 100px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(41, 41, 41);
}

.login-form{
  width: 324px;
  margin: 0px auto;
  padding-bottom: 0px;
}

.input-field{
  appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    inline-size: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    min-block-size: 48px;
    background-color: #121212;
    box-shadow: inset 0 0 0 1px #878787;
    color: #000000;
}

.label-text{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  inline-size: 100%;
  padding-block-end: var(--spacer--2,8px);
}
.login-row{
  padding-bottom: 16px;
}

@media (min-width: 768px){
.header {
    border-bottom: none;
    padding: 32px 0px 32px 51px;
    margin-bottom: 0px;
}
}

@media(max-width: 768px){
  .header{
    border-bottom: none;
    padding: 48px 32px 0px;
  }
}
