.login-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  overflow-y: scroll;
}

.header{
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.fill-color{
  fill: white;
}

.spotify-logo{
  height: 36px;
  text-align: left;
}

.main{
  flex: 3 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 32px;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.form-container{
  max-width: 734px;
  width: 100%;
  background-color: black;
  color: white;
  row-gap: normal;
  border-radius: 8px;
}
.main-heading{
  text-align: center;
  margin: 80px 0px 48px;
  font-size: 2.6rem;
  font-weight: 750;
}

.heading-container{
  background-color: black;
  color: white;
  row-gap: normal;
  border-radius: 8px;
}

.button-container{
  width: 40%;
  border: 0.5px solid white;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon{
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;  
  background : url("../../img/google.svg") center center no-repeat;
  margin: 0 20px;
} 
.button-text{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: none;
  letter-spacing: normal;
  margin: auto;
}

@media (min-width: 768px){
.header {
    border-bottom: none;
    padding: 32px 0px 32px 51px;
    margin-bottom: 0px;
}
}

@media(max-width: 768px){
  .header{
    border-bottom: none;
    padding: 48px 32px 0px;
  }
}
